* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 24px;
  font-family: 'Unica One', cursive;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

#app h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-bottom: 8px;
}

.calculator {
  display: grid;
  grid-template-rows: 180px 1fr;
  height: 650px;
  width: 450px;
  background-color: lightgray;
  border: 3px solid red;
}
.display {  
  display: grid;
  background: rgb(64, 106, 223);
  border: 1px solid black;
  grid-template-columns: 33% 33% 1fr;
  grid-template-rows: 33% 33% 1fr;
}

.controls {
display: grid;
grid-row: 2;
grid-template-columns: repeat(4, 1fr);
/* grid-template-rows: repeat(5, 1fr); */
border: 1px solid orangered;

}

.digits {
display: grid;
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 6;

}